<h1>Project List</h1>
<table class="table">
  <thead>
    <tr>
      <th scope="col">#Id</th>
      <th scope="col">Project Name</th>
      <th scope="col">Workspace ID</th>
      <th scope="col">Test Count</th>
      <th></th>
    </tr>
  </thead>
  <tbody *ngIf="projects">
    <tr *ngFor="let project of projects">
      <th scope="row">{{ project.id }}</th>
      <td>{{ project.name }}</td>
      <td>{{ project.workspaceId }}</td>
      <td>{{ project.testsCount }}</td>
      <td>
        <button class="btn btn-primary" (click)="gotoTestPage(project.id)">
          View Test
        </button>
      </td>
    </tr>
  </tbody>
</table>
